@model Course
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img src="~/img/@Model.image" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">@Model.title</h3>
                <p class="card-text">@Model.description</p>
            </div>
        </div>
    </div>
</div>