<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container">
        <a href="#" class="navbar-brand">Home</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Kurs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Diğer</a>
            </li>
        </ul>
    </div>
</nav>